<% order = @order %>
<div id="<%= dom_id(order) %>" class="row">
  <div class="col-xl-6 mx-auto">
    <h3 class="fw-bold mt-4">
      <%= t(".title", number: order.id) %>
    </h3>

    <div class="badge bg-<%= @order.served? ? :secondary : :success %>">
      <% if @order.payment_succeeded? %>
        <i class="bi bi-circle-fill"></i>
        <%= t(".pending") %>
      <% elsif @order.served? %>
        <i class="bi bi-check-circle-fill"></i>
        <%= t(".completed") %>
      <% end %>
    </div>

    <span class="text-muted ms-2">
      <% if order.payment_succeeded? %>
        <%= l(order.payment_succeeded_at, format: "%H:%M") %>
      <% end %>

      <% if order.served? %>
        <%= l(order.served_at) %>
      <% end %>
    </span>

    <ul class="list-group my-3">
      <% order.items.each do |item| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-6">
              <span class="badge bg-secondary rounded-pill">
                <%= item.quantity %>
              </span>

              <%= item.name %>
            </div>
          </div>
        </li>
      <% end %>

      <% if @order.observation.present? %>
        <li class="list-group-item">
          <%= t(".observation", message: order.observation) %>
        </li>
      <% end %>
    </ul>

    <% if order.payment_succeeded? %>
      <div class="text-center">
        <%= button_to t(".complete"), [:employee, order], class: "btn btn-success btn-lg fw-bold text-white", method: :patch %>
      </div>
    <% end %>
  </div>
</div>
