<%= form_with model: [:manager, @user, shift] do |f| %>
  <div class="row align-items-end">
    <div class="col-5">
      <%= f.label :start_at, class: "form-label" %>
      <%= f.datetime_local_field :start_at,
         class: "form-control",
         min: shift.start_at.at_beginning_of_day,
         max: shift.start_at.at_end_of_day %>
    </div>

    <div class="col-5">
      <%= f.label :end_at, class: "form-label" %>
      <%= f.datetime_local_field :end_at,
         class: "form-control",
         min: shift.start_at.at_beginning_of_day,
         max: shift.start_at.at_end_of_day + 12.hours %>
    </div>

    <div class="col-2">
      <%= f.submit submit_text, class: "btn btn-primary" %>
    </div>

    <div class="col-5">
      <%= f.error_for :start_at, class: "d-block" %>
    </div>

    <div class="col-5">
      <%= f.error_for :end_at, class: "d-block" %>
    </div>
  </div>
<% end %>
