<td class="text-center" id="<%= dom_id(shift.user, shift.start_at.to_date) %>">
  <span class="badge bg-<%= shift.new_record? ? :success : :info %>">
    <div data-controller="popover">
      <%= link_to (shift.new_record? ? t(".day_off") : shift.human_range),
         "#",
         class: "link-opacity-50-hover text-decoration-none link-light",
         data: { popover_target: "trigger", turbo: :false } %>

      <template data-popover-target="template">
        <h6>
          <%= shift.user.name %> - <%= l(shift.start_at.to_date, format: :short) %>
        </h6>

        <hr class="my-2" />

        <% if shift.new_record? %>
          <%= link_to t(".new"),
             [:new, :manager, shift.user, :shift, shift: { start_at: shift.start_at.to_date }],
             class: "btn btn-primary",
             data: { turbo_frame: :modal } %>
        <% else %>
          <%= link_to t(".edit"),
             [:edit, :manager, shift],
             class: "btn btn-primary",
             data: { turbo_frame: :modal } %>
          <%= link_to t(".destroy"),
             [:manager, shift],
             class: "btn btn-outline-danger",
             data: { turbo_method: :delete, turbo_confirm: t("delete_confirmation") } %>
        <% end %>
      </template>
    </div>
  </span>
</td>
