<td class="text-center dropdown" id="<%= dom_id(shift.user, shift.start_at.to_date) %>">
  <span class="badge bg-<%= shift.new_record? ? :success : :info %>">
    <%= link_to (shift.new_record? ? t(".day_off") : shift.human_range),
       "#",
       class: "link-opacity-50-hover stretched-link text-decoration-none link-light dropdown-toggle",
       data: { bs_toggle: :dropdown } %>

    <ul class="dropdown-menu">
      <li>
        <h6 class="dropdown-header">
          <%= shift.user.name %> - <%= l(shift.start_at.to_date, format: :short) %>
        </h6>
      </li>

      <% if shift.new_record? %>
        <li>
          <%= link_to t(".new"),
             [:new, :manager, shift.user, :shift, shift: { start_at: shift.start_at.to_date }],
             class: "dropdown-item",
             data: { turbo_frame: :modal } %>
        </li>
      <% else %>
        <li>
          <%= link_to t(".edit"), [:edit, :manager, shift], class: "dropdown-item", data: { turbo_frame: :modal } %>
        </li>
        <li>
          <%= link_to t(".destroy"),
             [:manager, shift],
             class: "dropdown-item",
             data: { turbo_method: :delete, turbo_confirm: t("delete_confirmation") } %>
        </li>
      <% end %>
    </ul>
  </span>
</td>
