<div id="<%= dom_id(order) %>" class="row">
  <div class="col-xl-6 mx-auto">
    <h3 class="fw-bold mt-4">
      <%= t(".title", number: order.id) %>
    </h3>

    <%= render "orders/status_badge", order: %>

    <ul class="list-group my-3">
      <% ratings = order.user.ratings.where(product: order.products).index_by(&:product_id) %>
      <% order.items.each do |item| %>
        <li class="list-group-item">
          <div class="row">
            <div class="col-6">
              <span class="badge bg-secondary rounded-pill">
                <%= item.quantity %>
              </span>

              <%= item.name %>
            </div>

            <div class="col text-nowrap" data-controller="rating" data-rating-star-count-value="<%= ratings[item.product_id]&.value %>">
              <% (1..5).each do |i| %>
                <%= link_to [:product, :ratings, product_id: item.product_id, order_id: order.id, rating: { value: i }],
                   class: "text-decoration-none",
                   data: { turbo_method: :post } do %>
                  <i class="bi bi-star<%= '-fill' if ratings[item.product_id]&.value&.>=(i) %> text-warning"></i>
                <% end %>
              <% end %>
            </div>

            <div class="col text-nowrap text-end">
              <% if item.discount? %>
                <s class="text-muted">
                  <%= cents_to_currency(item.gross_value_cents) %>
                </s>

                <b>
                  <%= cents_to_currency(item.liquid_value_cents) %>
                </b>
              <% else %>
                <%= cents_to_currency(item.liquid_value_cents) %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>

      <% if order.used_loyalty_points.positive? %>
        <li class="list-group-item list-group-item-success d-flex justify-content-between">
          <div>
            <span class="badge bg-success rounded-pill">
              <i class="bi bi-tags-fill"></i>
            </span>
            <%= t(".loyalty_discount") %>
          </div>

          <div class="fw-bold">
            <%= cents_to_currency(-order.used_loyalty_points) %>
          </div>
        </li>
      <% end %>

      <li class="list-group-item list-group-item-light fw-bold d-flex justify-content-between">
        <div>
          <%= t(".total") %>
        </div>

        <div>
          <%= cents_to_currency(order.liquid_value_cents) %>
        </div>
      </li>

      <% if @order.observation.present? %>
        <li class="list-group-item">
          <%= t(".observation", message: order.observation) %>
        </li>
      <% end %>
    </ul>

    <% if order.payment_started? %>
      <div class="text-center">
        <%= link_to t(".pay"), order.checkout_url, class: "btn btn-primary btn-lg fw-bold" %>
      </div>
    <% elsif order.payment_failed? %>
      <%= form_with model: order, data: { turbo: false } do |f| %>
        <%= f.hidden_field :start_payment, value: true %>

        <div class="text-center">
          <%= f.submit t(".pay"), class: "btn btn-lg btn-primary fw-bold" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
