<div id="<%= dom_id(order) %>" class="row">
  <div class="col-xl-6 mx-auto">
    <h3 class="fw-bold mt-4">
      <%= t(".title", number: order.id) %>
    </h3>

    <%= render "orders/status_badge", order: %>

    <ul class="list-group mt-3">
      <% order.items.each do |item| %>
        <li class="list-group-item d-flex justify-content-between">
          <div class="d-flex align-items-center gap-2">
            <span class="badge bg-secondary rounded-pill">
              <%= item.quantity %>
            </span>
            <%= item.name %>
          </div>

          <div>
            <%= cents_to_currency(item.value_cents) %>
          </div>
        </li>
      <% end %>

      <li class="list-group-item list-group-item-light fw-bold d-flex justify-content-between">
        <div>
          <%= t(".total") %>
        </div>

        <div>
          <%= cents_to_currency(order.total_value_cents) %>
        </div>
      </li>
    </ul>
  </div>
</div>
