<div class="badge bg-<%= status_class(order.status) %>">
  • <%= Order.human_enum_name(:status, order.status) %>
</div>

<div class="small text-muted">
  <% if order.payment_started? %>
    <%= t(".payment_started_at", time: l(order.payment_started_at)) %>
  <% end %>

  <% if order.payment_succeeded? %>
    <%= t(".paid_at", time: l(order.payment_succeeded_at)) %>
  <% end %>

  <% if order.served? %>
    <%= t(".served_at", time: l(order.served_at)) %>
  <% end %>
</div>
