<h1 class="text-center fw-bold">
  <%= t(".title") %>
</h1>

<div class="row justify-content-center">
  <div class="col-lg-6">
    <ul class="list-group">
      <% @order.items.each do |item| %>
        <li class="list-group-item">
          <div class="row align-items-center">
            <div class="col-7">
              <%= item.name %>
            </div>

            <div class="col-3">
              <div class="input-group">
                <%= link_to "-", item, class: "btn btn-outline-secondary", data: { turbo_method: :delete } %>

                <input type="text" size="1" class="form-control text-center bg-light" value="<%= item.quantity %>" disabled>

                <%= link_to "+", [:items, item_id: item.item_id], class: "btn btn-outline-secondary", data: { turbo_method: :post } %>
              </div>
            </div>

            <div class="col-2 text-end">
              <%= cents_to_currency(item.value_cents) %>
            </div>
          </div>
        </li>
      <% end %>

      <li class="list-group-item list-group-item-light">
        <div class="row fw-bold">
          <div class="col-6">
            <%= t(".total") %>
          </div>

          <div class="col-6 text-end">
            <%= cents_to_currency(@order.total_value_cents) %>
          </div>
        </div>
      </li>
    </ul>

    <div class="text-center py-3">
      <%= button_to :current_order, method: :put, class: "btn btn-lg btn-primary fw-bold", form: { data: { turbo: false } } do %>
        <%= t(".pay") %>
      <% end %>
    </div>
  </div>
</div>
