<h1 class="text-center fw-bold">
  <%= t(".title") %>
</h1>

<div class="row justify-content-center">
  <div class="col-lg-6">
    <ul class="list-group">
      <% @order.items.each do |item| %>
        <li class="list-group-item">
          <div class="row align-items-center">
            <div class="col-7">
              <%= item.name %>
            </div>

            <div class="col-3">
              <div class="input-group">
                <%= link_to "-", item, class: "btn btn-outline-secondary", data: { turbo_method: :delete } %>

                <input type="text" size="1" class="form-control text-center bg-light" value="<%= item.quantity %>" disabled>

                <%= link_to "+", [:order_items, product_id: item.product_id], class: "btn btn-outline-secondary", data: { turbo_method: :post } %>
              </div>
            </div>

            <div class="col-2 text-end">
              <% if item.discount? %>
                <s class="text-muted">
                  <%= cents_to_currency(item.gross_value_cents) %>
                </s>

                <b>
                  <%= cents_to_currency(item.liquid_value_cents) %>
                </b>
              <% else %>
                <%= cents_to_currency(item.liquid_value_cents) %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>

      <% if @order.maximum_points.positive? %>
        <li class="list-group-item">
          <div class="row align-items-center">
            <div class="col">
              <%= t(".loyalty_points") %>
            </div>

            <div class="col">
              <div class="d-flex align-items-center gap-3">
                <span class="small text-muted text-nowrap">
                  <%= t(".maximum", value: @order.maximum_points) %>
                </span>

                <%= form_with model: @order do |f| %>
                  <div class="input-group">
                    <%= f.number_field :used_loyalty_points, class: "form-control", min: 0, max: @order.maximum_points %>
                    <%= f.submit t(".use"), class: "btn btn-primary" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </li>
      <% end %>

      <li class="list-group-item list-group-item-light">
        <div class="row fw-bold">
          <div class="col-6">
            <%= t(".total") %>
          </div>

          <div class="col-6 text-end">
            <% if @order.discount? %>
              <s class="text-muted">
                <%= cents_to_currency(@order.gross_value_cents) %>
              </s>

              <b>
                <%= cents_to_currency(@order.liquid_value_cents) %>
              </b>
            <% else %>
              <%= cents_to_currency(@order.liquid_value_cents) %>
            <% end %>
          </div>
        </div>
      </li>
    </ul>

    <div class="py-3">
      <%= form_with model: @order, data: { turbo: false } do |f| %>
        <%= f.hidden_field :start_payment, value: true %>

        <div class="mb-3">
          <%= f.label :observation, class: "form-label" %>
          <%= f.text_field :observation, class: "form-control", placeholder: t(".sample_observation") %>
        </div>

        <div class="text-center">
          <%= f.submit t(".pay"), class: "btn btn-lg btn-primary fw-bold", disabled: @order.items.none? %>
        </div>
      <% end %>
    </div>
  </div>
</div>
