<h1 class="fw-bold">
  <%= t(".title") %>
</h1>

<%= search_form_for @q, url: [:employee, :shifts], class: "d-flex gap-3 align-items-end" do |f| %>
  <div>
    <%= f.label :start_at_gteq, Shift.human_attribute_name(:start_at), class: "form-label" %>
    <%= f.date_field :start_at_gteq, class: "form-control form-control-sm" %>
  </div>

  <div>
    <%= f.label :end_at_lteq, Shift.human_attribute_name(:end_at), class: "form-label" %>
    <%= f.date_field :end_at_lteq, class: "form-control form-control-sm" %>
  </div>

  <div>
    <%= f.submit t(".filter"), class: "btn btn-primary btn-sm" %>
  </div>
<% end %>

<div class="overflow-x-scroll mt-3">
  <table class="table table-striped mb-0">
    <thead>
      <tr>
        <% (@start_at..@end_at).each do |date| %>
          <th class="text-nowrap text-center border-0">
            <%= l(date, format: "%a %d/%m") %>
          </th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% (@start_at..@end_at).each do |date| %>
          <%= render @shifts.fetch(date, Shift.new) %>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
