<div class="p-5 mb-4 bg-body-tertiary rounded-3">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-4">
        <%= image_tag "banner.png", class: "img-fluid" %>
      </div>

      <div class="col-8 text-center">
        <h1 class="display-5 fw-bold">
          <span class="fw-bolder">
            Cafeteria Gourmet
          </span>
        </h1>

        <p class="fs-4">Explore todas as delícias do nosso cardápio</p>
      </div>
    </div>
  </div>
</div>

<div class="d-flex gap-3 align-items-center">
  <h1 class="fw-bold"><%= t(".header") %></h1>

  <%= turbo_frame_tag :new_category,
    class: "invisible",
    data: { controller: :role, role_required_value: :manager } do %>
    <%= link_to t(".new"), [:new, :category], class: "btn btn-outline-primary" %>
  <% end %>
</div>

<div id="categories" class="d-flex flex-column gap-3">
  <% if @daily_specials.any? %>
    <div class="bg-light border rounded p-3">
      <div class="d-flex align-items-center gap-3">
        <h2>
          <%= t(".daily_specials") %>
        </h2>
      </div>

      <div class="my-3 row">
        <%= render @daily_specials %>
      </div>
    </div>
  <% end %>

  <%= render @categories %>
</div>
