<%= turbo_frame_tag :modal do %>
  <div class="modal-header">
      <h1 class="modal-title fw-bold me-3">
        <%= @product.name %>
      </h1>

      <% if @product.rating.positive? %>
        <div class="badge bg-warning text-dark border border-dark">
          <small><%= number_with_precision(@product.rating, precision: 1) %></small>
          <i class="bi bi-star"></i>
        </div>
      <% end %>

    <%= button_to t(".add", value: cents_to_currency(@product.price_cents)),
       :order_items,
       params: { product_id: @product.id },
       class: "btn btn-primary ms-3",
       form: { data: { turbo_frame: :_top } } %>

    <div class="btn-group" data-controller="role" data-role-required-value="manager">
      <%= link_to [:edit, @product], class: "btn btn-outline-primary ms-3", data: { turbo_frame: :_top } do %>
        <i class="bi bi-pencil"></i>
      <% end %>

      <%= link_to @product,
         class: "btn btn-outline-danger",
         data: {
           turbo_method: :delete,
           turbo_confirm: t(".delete_confirm"),
           turbo_frame: :_top
         } do %>
        <i class="bi bi-trash"></i>
      <% end %>
    </div>

    <button class="btn-close" data-bs-dismiss="modal"></button>
  </div>

  <div class="modal-body">
    <%= image_tag @product.picture, class: "img-fluid mb-3" if @product.picture.attached? %>

    <div>
      <%= @product.description %>
    </div>
  </div>
<% end %>
