<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="current-user" content="<%= current_user&.id %>">
    <meta name="user-role" content="<%= current_user&.role %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar bg-primary navbar-expand-lg mb-4" data-bs-theme="dark">
      <div class="container">
        <a class="navbar-brand fw-bold" href="<%= root_path %>">
          Cafeteria
          <i class="bi bi-cup-hot-fill"></i>
        </a>

        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-items">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-items">
          <ul class="navbar-nav ms-auto">
            <% if current_user&.employee? || current_user&.manager? %>
              <li class="nav-item">
                <%= link_to t(".orders"), [:employee, :orders], class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to t(".table_reservations"), [:employee, :table_reservations], class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to t(".chat"), [:employee, :users], class: "nav-link" %>
              </li>
            <% end %>

            <% if current_user&.employee? %>
              <li class="nav-item">
                <%= link_to t(".shifts"), [:employee, :shifts], class: "nav-link" %>
              </li>
            <% end %>

            <% if current_user&.manager? %>
              <li class="nav-item dropdown" data-bs-theme="light">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                  <%= t(".stock") %>
                </a>

                <ul class="dropdown-menu">
                  <li>
                    <%= link_to t(".stock_items"), [:manager, :stock_items], class: "dropdown-item" %>
                    <%= link_to t(".stock_movements"), [:manager, :stock_movements], class: "dropdown-item" %>
                  </li>
                </ul>
              </li>

              <li class="nav-item">
                <%= link_to t(".shifts"), [:manager, :shifts], class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to t(".sales"), [:manager, :sales], class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to t(".statistics"), [:manager, :statistics], class: "nav-link" %>
              </li>
            <% end %>

            <% if current_user&.customer? %>
              <li class="nav-item">
                <%= link_to t(".table_reservations"), :table_reservations, class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to t(".history"), :orders, class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to t(".order"), :current_order, class: "nav-link" %>
              </li>
            <% end %>

            <% if logged_in? %>
              <li class="nav-item">
                <%= link_to t(".logout"), :session, class: "nav-link", data: { turbo_method: :delete } %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to t(".register"), new_registration_path, class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to t(".login"), new_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div id="flash" class="toast-container position-fixed top-0 end-0 p-3">
      <% flash.each do |type, message| %>
        <%= render "shared/flash", type:, message: %>
      <% end %>
    </div>

    <div class="container mb-5">
      <%= yield %>
    </div>

    <div
      class="modal"
      tabindex="-1"
      data-controller="modal"
      data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <%= turbo_frame_tag :modal %>
        </div>
      </div>
    </div>

    <div id="confirm" class="modal" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content shadow">
          <div class="modal-body">
            <h4 class="fw-bold">
              Atenção
            </h4>
            <p id="confirm-text">
            </p>

            <button class="btn btn-primary" data-bs-dismiss="modal">
              Cancelar
            </button>

            <button class="btn btn-outline-danger" data-bs-dismiss="modal" id="confirm-button">
              Confirmar
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
