<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="user-role" content="<%= current_user&.role %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="<%= root_path %>">
          Cafeteria
        </a>

        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-items">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-items">
          <ul class="navbar-nav ms-auto">
            <% if logged_in? %>
              <li class="nav-item">
                <%= link_to t(".logout"), :session, class: "nav-link", data: { turbo_method: :delete } %>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to t(".register"), new_registration_path, class: "nav-link" %>
              </li>

              <li class="nav-item">
                <%= link_to t(".login"), new_session_path, class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div id="flash">
      <% flash.each do |type, message| %>
        <%= render "shared/flash", type:, message: %>
      <% end %>
    </div>

    <div class="container mb-5">
      <%= yield %>
    </div>

    <div
      class="modal"
      tabindex="-1"
      data-controller="modal"
      data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <%= turbo_frame_tag :modal %>
        </div>
      </div>
    </div>
  </body>
</html>
